.myBtn {
  background-color: #00bfff;
    color: #fff;
    border: none;
    border-radius: 14px;
    padding: 0.5rem 1rem;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Orbitron', sans-serif;
    transition: all var(--transition);
  transition: all 0.3s;
}

.myBtn:hover {
  box-shadow: 0 0 15px #00bfff;
  transform: translateY(-2px);
}

.myBtn:focus,
.myBtn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.dark .myBtn {
  background-color: #4a6fa5;
}

.dark .myBtn:hover {
  background-color: #646cff;
}