.search-section {
  /* background-color: var(--panel-light); */
  padding: 20px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--border-light);
  color: var(--text-light);
}

.dark .search-section {
  background-color: var(--panel-dark);
  border-bottom-color: var(--border-dark);
}

.search-container {
  display: flex;
  gap: 10px;
  max-width: 600px;
  width: 100%;
}

@media (max-width: 768px) {
  .search-section {
    padding: 15px;
  }
  
  .search-container {
    flex-direction: column;
    gap: 15px;
  }
}