.seasons-grid {
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 1.5rem;
}

@media (max-width: 768px) {
  .seasons-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

.main-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;
}